@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #fdfcf6;
$subColor: #98010b;
$subColor2: #efdadb;
$keyColor: #cab164;
$fontColor: #4c4c4c;

/* Base
------------------------------------------------------------*/
html{ font-size: 62.5%; }

body{
  color: $fontColor;
  font-size: 1.4rem;
  font-family: $baseFontFamily;
  line-height:1.6;
  letter-spacing: 0.1em;
  background-color: $baseColor;
}

a {
  text-decoration: none;
}

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', sans-serif;
}
.uppercase {
  text-transform: uppercase;
}

/* Header
------------------------------------------------------------*/
.bgimg {
  display: block;
  background-image: url("../img/img_xmas.jpg");
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center center;
 }

/* Main
------------------------------------------------------------*/
section {
  padding: 40px 0;
  .container {
    width: 90%;
    @extend .block-center;
  }
  h2 {
    @extend .abel;
    font-size: 3.2rem;
  }
}

#txt {
  .container {
  @include display-flex;           // 親要素にdisplay-flex指定
  justify-content: space-between;  // 各アイテムを均等に配置し最初のアイテムは先頭に寄せ、最後のアイテムは末尾に寄せる
  @include flex-direction(column); // colum:縦並び
  }
  h2 {
  color: $fontColor;
  margin-bottom: 20px;
  }
  table {
    width: 100%;
  }
  th, td {
    display: block;
  }
  th {
    padding: 10px 0;
    color: $baseColor;
    font-size: 3.2rem;
    background-color: $subColor;
  }
  td {
    padding: 20px;
    min-height: 130px;
    background-color: $subColor2;
  }
 .box {
  @include flex(1);
  padding: 10px;
  @include box-sizing(border-box);  // paddingとborderを幅と高さに含める
  }

}


/* Footer
------------------------------------------------------------*/
footer {
  background-color: $subColor;
  padding: 50px 0;
  text-align: center;
  color: $baseColor;
    .button {
      display: inline-block;
      width: 250px;
      padding: 5px 0;
      margin-top: 10px;
      background-color: $keyColor;
      font-weight: bold;
      color: $fontColor;
      border-radius: 3px;
    }
}

// PC
@media (min-width: 769px) {
/* Header
------------------------------------------------------------*/
.bgimg {
  height: 500px;
 }

/* Main
------------------------------------------------------------*/
section {
  padding: 60px 0;
}
  #txt {
    .container {
    @include display-flex;           // 親要素にdisplay-flex指定
    justify-content: space-between;  // 各アイテムを均等に配置し最初のアイテムは先頭に寄せ、最後のアイテムは末尾に寄せる
    @include flex-direction(row);    // colum:横並び
    }
    h2 {
      margin-bottom: 50px;
    }
    th {
      padding: 30px 0;
      }
    td {
      padding: 20px;
      min-height: 300px;
    }
    .box {
    @include flex(1);
    margin: 0 10px;
    }
  }
}